html {
    box-sizing: border-box;
    background: url("../img/space.jpg") no-repeat center center fixed;
    background-size: cover;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Digital7';
    src: url("../font/digital7.ttf");
}

header img {
    width: 55%;
    display: block;
    margin: auto;
    max-width: 400px;
    min-width: 300px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.marquee {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header h1 {
    color: white;
    font-family: 'Digital7';
    font-size: 5em;
    margin: 0.3em;
}
