html {
    box-sizing: border-box;
    background: url("../img/space.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Digital7';
    src: url("../font/digital7.ttf");
}

@font-face {
    font-family: 'Space';
    src: url("../font/alienenc.ttf");
}

@font-face {
    font-family: 'Cubano';
    src: url("../font/Cubano.otf");
}

h1 {
    font-family: 'Cubano';
    color: #0055a0;
    margin-top: 0;
}

main {
    width: 100%;
    margin: auto;
    padding: 1em;
}

header {
    background-color: white;
    width: 100%;
}

#fullpage {
    margin-top: 2em;
}

#fullpage h1 {
    color: white;
    font-family: 'Digital7';
    font-size: 6em;
    margin: 0.5em;
}

.planet {
    width: 90%;
    margin: auto;
}

.planet img {
    width: 60%;
    min-width: 300px;
    margin: auto;
    display: block;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon::after,
.drawer-hamburger-icon::before {
    background-color: white;
}

.thirds {
    background-color: white;
    padding: 2em;
    margin: 2em;
}

.fp-tableCell {
    vertical-align: baseline;
}

@media all and (min-width: 768px) {
    .thirds {
        width: calc(100% / 3 - 4em);
        float: left;
    }
    footer section {
        width: calc(100% / 3);
        float: left;
    }

}

.dish {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0055a0;
}

/* menu page */

.logo {
    background-color: #ffed9a;
    width: 100%;
    margin: auto;
}

.logo img {
    width: 50%;
    margin: auto;
    display: block;
    padding: 2em;
    min-width: 200px;
    max-width: 460px;
}

#menucontainer {
    width: 100%;
    margin: auto;
    font-size: 0.8em;
    background-color: white;
    max-width: 1000px;
}

#menucontainer li {
    list-style: none;
}

.appetizers,
.entrees,
.drinks,
.desserts {
    padding: 2em;
    margin: auto;
}

.menuheading img {
    width: 40px;
    float: left;
    padding-right: 1em;
}

.menuheading h1 {
    border-bottom: 3px #9ecb3a solid;
    font-size: 2.5em;
    margin-left: 1.8em;
    padding-bottom: 0.5em;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media all and (min-width: 786px) {
    .appetizers,
    .entrees {
        width: calc(100% / 2 - 3em);
        float: left;
    }
    .drinks,
    .desserts {
        width: calc(100% / 2 - 3em);
        float: left;
    }
    #menucontainer h3 {
        float: right;
    }
}
